body {
    margin: 0;
    color: #fff;
    background-color: #3e3c94;
}

.banner {
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

#preloader {
    text-align: center;
}


.game-container {
    overflow: hidden;
    width: 450px;
    height: 230px;
    margin: 20px auto 20px auto;
    padding:20px;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    background-color: #090b72;
    color: #fff;
    cursor: pointer;
}

.article-description {
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
  }

.article-image {
    max-height: 200px;
    max-width: 200px;
    height: 100%;
    vertical-align: middle;
    margin: 10px;
    float: left;
    vertical-align: middle;
}

.article-see-more {
    float: right;
}

.about-container {
    display: inline;
}

#postForm {
    text-align: center;
}

.postingInput {
    margin: 20px;
    font-size: 20px;
}

.postingInput input {
    width: 350px;
    height: 20px;
}

#game-collection {
    display: flex;
    flex-wrap: wrap;
}