#body {
    color: #fff;
    background-color: #3e3c94;
}

.banner {
    margin: 0;
    padding: 0;
}

#primary-navigation {
    width: 100%;
    height: 30px;
    background-color: #090b72;
}

#primary-navigation ul {
    list-style: none;
}

#primary-navigation ul li {
    display: inline-block;
    line-height: 100%;
}

#primary-navigation ul li a {
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
    color: #fff;
}

#primary-navigation ul li a:hover {
    color: #222;
    background-color: #f8fc1af1;
    border-radius: 10px;
}

.hide{
    display: none;
}

.game-container {
    overflow: hidden;
    width: 470px;
    height: 240px;
    margin: 20px auto 20px auto;
    padding:20px;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    background-color: #090b72;
    color: #fff;
    cursor: pointer;
}

.article-description {
    display: -webkit-box;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

.article-image {
    max-height: 200px;
    max-width: 200px;
    height: 100%;
    vertical-align: middle;
    margin: 10px;
    float: left;
    vertical-align: middle;
}

.article-see-more {
    float: right;
}

#postForm {
    text-align: center;
}
